<div style="margin-left: 21%; margin-right: 1%; margin-top: 5%;" >
    <h1>List Name: {{listDetailsCtrl.detailedList.title}}</h1>
    <h3>Average Rating: {{listDetailsCtrl.averageRating}} Stars</h3>
    <div>
        <input type="text" ng-model="query" placeholder="Filter by" autofocus>
        <label for="">Sort by:</label>
        <button class="btn btn-primary" ng-click="listDetailsCtrl.sortOrder('movies.title')">Movie Title</button>
        <button class="btn btn-info" ng-click="listDetailsCtrl.sortOrder('movies.rating')">Rating</button>
    </div>
    <div class="panel panel-default col-md-4" style="margin: auto;" ng-repeat="movie in listDetailsCtrl.detailedList.placements | filter:query | orderBy:listDetailsCtrl.order">
        <div class="panel-body">
             Movie Title: {{movie.movies.title}} <br>
            <img ng-src="{{movie.movies.posterImage}}" alt="" style="object-fit: contain; height: 375px; margin: auto; display: block;"><br>
             Year of Release: {{movie.movies.yearReleased}}<br>
             Genre: {{movie.movies.genre}}<br>
             Rating: {{movie.movies.rating}} stars<br>
            <button class="btn btn-danger" ng-click="listDetailsCtrl.deleteMovie(movie.movies)">Delete from List</button><br>
            Rate Movie: <select name="" id="" ng-model="listDetailsCtrl.newRating">
                <option value=1>1 star</option>
                <option value=2>2 star</option>
                <option value=3>3 star</option>
                <option value=4>4 star</option>
                <option value=5>5 star</option>
            </select>
            <button class="btn btn-warning" ng-click="listDetailsCtrl.updateRating(movie.movies)">Update Rating</button>
        </div>
    </div>
    <div class="panel panel-default col-md-4" style="margin: auto;">
        <div class="panel-body">
            <p>Add a Movie to the List!<p><br>
            <button class="btn btn-primary" ui-sref="searchview">Add New Movie!</button><br>
        </div>
    </div>
</div>